.comidas {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: comidas-appear 1s ease-out forwards;
    -webkit-animation: comidas-appear 1s ease-out forwards;
}
  
  .comidas ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .comidas li {
    border-bottom: 1px dashed ;
  }
  
  @keyframes comidas-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }